.new-vehicle-container {
  padding: 30px 9.6% 50px;
}
.new-vehicle-container h1 {
  margin-bottom: 30px;
}
.new-vehicle-container form label {
  font-weight: bold;
}
.media-upload-container {
  margin: 20px 0;
}
.media-upload-container .gallery-preview {
  margin-top: 20px;
}
.media-upload-container .gallery-preview .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px;
}
.media-upload-container .gallery-preview .gallery figure {
  position: relative;
}
.media-upload-container .gallery-preview .gallery figure .close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
.img-preview p {
  font-weight: bold;
}
.img-preview img {
  max-height: 100px;
}
@media (max-width: 1280px) {
  .new-vehicle-container {
    padding: 30px 35px 50px;
  }
}
@media (max-width: 900px) {
  .new-vehicle-container {
    padding: 30px 15px 50px;
  }
}
