* {
  color: #AD6A6C;
}
.list-heading {
  color: #AD6A6C;
}
.user-vehicles {
  margin: 25px 25px 50px;
}
.uvGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px 20px;
  margin-bottom: 30px;
}
.uvGrid .card-body {
  display: grid;
  grid-template-columns: 1fr 80px;
  grid-gap: 10px;
}
.card-body {
  background-color: #FFD6E0;
}
.btns {
  background-color: #FFD6E0;
}
.uvGrid .card {
  max-width: 50vw;
  border: 0px !important;
  background-color: #FFD6E0;
}
.uvGrid .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 20px 20px;
  background-color: #FFD6E0;
}
.uvGrid .delete-btn {
  width: fit-content;
}

.uvGrid .delete-btn:hover {
  width: fit-content;
  background-color: #c92f3e !important;
}
.car-img {
  background-color: white;
}
