.container {
    display: flex;
    justify-content: space-between;
}

.header {
    color: #AD6A6C;
    padding: 25px;
    float: left;
    margin: 0px;
    font-weight: 800;
}

.button {
    align-self: center;
    margin-right: 25px;
    vertical-align: middle;
}

.button:hover {
    background: #9c6062;
}

.vehicleContainer {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    margin: 0px 25px;
    background-color: #FFD6E0 !important;
    color: #AD6A6C;
    border: none !important;
}

.img {
    background-color: white;
    padding: 0px;
    margin: 0px;
}

.vehicleTitle {
    font-weight: 800 !important;
}

.subtitle {
    color: #6c757d;
    padding: 0px 15px;
    margin-top: -4px;
    margin-bottom: 8px !important;
}

.mileage {
    padding: 0px 15px;
}

.cardLink {
    text-decoration: none;
    color: #AD6A6C;
}

.cardLink:hover {
    text-decoration: none;
    color: #824f57;
}


.textContainer {
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkContainer {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

Button:hover {
    background-color: #9c6062 !important;
}

.vehicleStatus {
    margin: 0px;
    align-self: center;
    vertical-align: center;
}